.loading  {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    &[data-position="absolute"] {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    } 

    &[data-position="fixed"] {
        position: fixed;
        top: 50%;
        left: 50%;
        height: auto;
    }
}

.overlay[data-active="true"] {
    background-color: rgba(34, 26, 10, 0.426);
    backdrop-filter: blur(4px);
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

}