:root{
    --toastify-color-dark: rgb(52, 126, 210);;
    --toastify-color-info: rgb(52, 126, 210);
    --toastify-toast-min-height: 42px;
    --toastify-toast-width: 180px;
}

body {
    font-size: 62.5%;
    overflow-x: hidden;
    -ms-overflow-style: none;  
    scrollbar-width: none;  

    &[scroll="disabled"] {
        overflow: hidden;
    }
}

body::-webkit-scrollbar  {
    display: none;
}
#root  {
    a {
        color: inherit;
        text-decoration: none;
    }
}
.app-container  {
    overflow :hidden;
}

.wrapper  {
    padding-top: $heightTopNav;
    background-color: var(--secondary);
    min-height: 100vh;
}
.back-icon  {
    cursor: pointer;
}


button {
    cursor: pointer;
}

