body {
    font-size: 62.5%;
    overflow-x: hidden;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}
body::-webkit-scrollbar  {
    display: none;
}
#root  {
    a {
        color: inherit;
        text-decoration: none;
    }
}
.app-container  {
    overflow :hidden;
}

.wrapper  {
    padding-top: $heightTopNav;
    background-color: var(--secondary);
    min-height: 100vh;
}
.back-icon  {
    cursor: pointer;
}


button {
    cursor: pointer;
}

