//--define breakpoints
$breakpoints:  (
    'small': (max-width: 480px),
    'medium': (max-width: 768px),
    'large': (max-width: 1200px),
    'extra-large': (min-width: 1201px)
);

//--- Colors
$primary : #fb8c00;
$primary_light : #ffbd45;
$primary_dark : #c25e00;
$secondary : #0b0b0b;
$secondary-transparent : linear-gradient(180deg, #0b0b0b 0%,  #0b0b0b60 30% #0b0b0b26  100%);
$secondary_light : #484848;
$secondary_dark : #000000;

$red_icon : rgb(219, 30, 30);
$yellow_star: rgb(234, 223, 14);

$title : rgba(143, 88, 2, 1);
$blackbg : #121212;
$main-primary : rgba(231, 154, 33, 1);
$white : rgba(235, 230, 225, 0.944);


//--Sizes
$avatar-size : 32px;
$heightheader : 20px;



