.search__container  {
    align-items: center;

    .search  {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;


        &__input  {
            color: var(--text);
            // box-shadow: 0 0 10px 5px rgba(231, 155, 33, 0.129);
            border: none;
            border-radius: 50%;
            padding: 0.5rem 0.5rem;
            font-family: inherit;
            outline: none;
            width: 2rem;
            height: 2rem;
            background-color: transparent;
            transition: border-radius 0.3s ease-in-out,
                        width 0.5s ease-in-out;
                        
                        &:not(:placeholder-shown) ~ .search__backspace{
                            display: block;
                        }
                        
                        &::placeholder  {
                padding-left: 0px;
                color: var(--text);
            }
            

            @include respond-to('large') {
                height: 2.5rem;
                font-size: 1.2em;
            }
            &.isactive {
                border-radius: 36px;
                max-width: 300px;
                width: 600px;
                padding-left: 35px;
                background-color: var(--transparent_bg);

                @include respond-to ('medium-large')  {
                    max-width: 50vw;
                }
            }

        }

        &__icon {
            position: absolute;
            cursor: pointer;
            
            &.isactive {
                left: 10px;
            }

        }
        &__close {
            position: absolute;
            display: none;
            right: 0;
            padding: 1.5rem;
            cursor: pointer;
            transition: 0.3s ease-in;

            &.isactive{
              display: block;
               right: -15px;
            }

        }
        &__backspace  {
            display: none;
            position: absolute;
            cursor: pointer;

            &.isactive {
                display: block;
                right: 35px;
            }
 
        }
    }
    .result {
        display: none;

        &.isactive {
        display: flex;
        color: var(--text);
        flex-direction: column;
        text-align: end;
        padding: 1rem 0.5rem 1rem 0;
        background-color: var(--secondary);
        
        li {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 20px;
            align-items: center;
            }
        }
    }
}

