.promoted  {
    margin: 20px auto 20px auto;
    width: 95%;
  
    font-family: 'Lato', serif;
    background-color: transparent;
    color: var(--text);
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
  }