.favorite-resume__container__likes   {
  color: var(--text);
    &--title {
      padding: 1rem 0 ;
      font-size: 125%;  
      display: flex;
      column-gap: 3%;
    }

    &--content  {
      display: flex;

      gap: 1rem;
      justify-content: flex-start;
    }
  }