.infinite-carousel  {
    h2  {
        @include titleContainer;
      }
      &__outer  {
        cursor:grab;
        overflow: hidden;
        display: flex;

        &__inner  {
            display: flex;
            flex-wrap: nowrap;
            column-gap: 15px;
            padding: 1rem 1.5rem;
            
        }
      }
}