.header-home  {
    height: 50vh;
    width: 100%;
    position: absolute;
    top: 0;
    // margin-bottom: 350px;
    // z-index: 10;
    // -webkit-mask-image: linear-gradient(to bottom,black 10%,transparent 80%);

    &__image-wrapper  {
      mask-image: linear-gradient(to bottom,black 0%,transparent 90%);
      aspect-ratio: 2/3;

      @include respond-to('medium-large') {
        aspect-ratio : 16/9;
      }
    }
  

    img {
      display: block;
      width: 100%;
    }
  }
  