.add-to-watchlists  {
  position: relative;
  top: 50px;
  min-width: 300px;
  width: 100vw;
  padding-bottom: 150px;
  // max-width: 600px;
  
  font-family: 'Lato', sans-serif;
  color: var(--text);
  line-height: 1.6;
  z-index: 3;
  margin: 0 auto;
  max-width: 115rem;
  border-radius: 12px;
  background: linear-gradient(180deg , rgba(13, 13, 13, 0.98) 70% ,rgba(45, 24, 9, 0.906) 100%);
  background-color: rgba(13, 13, 13, 0.98);
  border: 1px solid rgba(255, 255, 255, 0.166);
  display: flex;
  align-items: center;
  flex-direction: column;




    .naming-blur {
      transition: ease-in-out 0.2s;

      
      &[data-blur="is-active"]{
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        backdrop-filter: blur(3px);
      }

    }

    header  {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--text);
        padding: 2vh 15px;

        .return-btn {
            position: absolute;
            top: 2%;
            left: 2%;
            
        }
        .title  {
            text-align: center;
        }
        
    }
    .watchlist {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        align-items: center;
        padding-top: 50px;
        row-gap: 6%;
        max-width: 1000px;

        &__new-btn{
            $fontSize : 0.8rem;

          display: flex;
          align-items: center;
          column-gap: 2%;
          font-family: 'Lato', sans-serif;
          font-size: 0.9rem;
          width: 105px;
          height:calc(2.5 * $fontSize) ;
          // margin-left: 5%;
          margin-bottom: 25px;
          border-radius: 0.5rem;
          border: none;
          background-color: var(--secondary);
          color: var(--primary_dark);
          cursor: pointer;

        }



        &:nth-child(0) {
            border-top: 1px solid rgba(255, 255, 255, 0.2);
        }

        .playlist  {
            $sizeBtn : 30px;
            $sizeIcon : 1rem;

        
            display: flex;
            align-items: center;
            
            padding: 3px 15px;
            border-bottom: 1px solid var(--border_list);
            border-radius: 2rem;
            width: 80%;
            transition: all ease-in 0.25s ;

            &:hover  {
              transform: scale(1.12 , 1.07);
              background-color: var(--secondary);
            }

            .name  {
                color: var(--text_light);
                font-size: 80%;
                flex: 4 1 80%;
            }
            .add  {
                cursor: pointer;
                width: $sizeBtn;
                height: $sizeBtn;
                border: none;
                flex-shrink: 0;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: transparent;

                svg {
                    position: relative;
                    z-index: -1;
                    font-size: $sizeIcon;
                    color: var(--text_light);
                }         
            }
            .delete  {
              cursor: pointer;
              flex: 1 1 10%;
              background-color: transparent;
              border: none;
              border-radius: 50%;
              height: 25px;
              width: 25px;
              display: flex;
              align-items: center;
              justify-content: center;
        

              svg {
                position: relative;
                z-index: -1;
                color: var(--nav_icon);
                font-size: $sizeIcon;
              }
            }
        }
    }
}

.name-newlist { 
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    aspect-ratio: 2/1;
    width: 60vw;
    max-width: 250px;
    border-radius: 0.7rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // background-color: rgb(14, 13, 13);
    background-color: var(--secondary);
    border: 1px solid var(--border_list);
    transition: ease 0.15s;
  
    &__header  {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2% 4% 4% 4%; 
      border-bottom: 1px solid var(--border_list);
  
      h2  {
        font-size: 0.8rem;
        color: var(--text_light);
      }
      .close-icon  {
        color: var(--primary_dark);
        display: flex;
        align-items: center;
        justify-content: center;
  
        svg {
          font-size: 1.3rem;
        }
      }
    }
  
    form {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      padding-top: 15px;
  
      input  {
        @include input;
        width: 80%;
      }
    }
  
  }
