.modal-content__wrapper  {
    position: sticky;
    top: 2vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 5;
    max-height: 100dvh;
    overflow: scroll;


    .blur  {
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: rgba(29, 27, 27, 0.249);
            backdrop-filter: blur(7px);
            filter: blur(0);
            
        }
        
        &__media-element {
        // padding: $heightTopNav 0.5rem $heightTopNav  0.5rem;
        overflow-y: scroll; 
        font-family: 'Lato', sans-serif;
        color: var(--text);
        line-height: 1.6;
        z-index: 3;
        margin: 0 auto;
        max-width: 60rem;
        border-radius: 12px;
        padding: 1em 0.5em;
        background-color: var(--bg_primary_soft_opacity);
        border: 2px solid rgba(1, 84, 84, 0.349);
        &::-webkit-scrollbar {
            display: none;
        }
        animation: opacityIn 400ms ease-in 1;


        @keyframes opacityIn {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 100%;
            }
        }

        &__close-modal  {
            width: 100%;
            position: sticky;
            height: 0;
            display: flex;
            justify-content: flex-end;
            padding: 7px 7px;
            button  {
                background-color: red;
            }


        }

        &__trailer-container {
            display : grid;
            place-items : center;
            width : 100%;
            padding-top: 25px;
            
            margin-bottom: 20px;
    
            .player {
                aspect-ratio: 16/9;
                max-width: 1200px;
            }
    
            img {
                aspect-ratio: 16/9;
                max-width: 1600px;
                width: 100%;
                height: auto;
            }
        }
        &__title  {
    
            padding : 0.5rem 0.75rem;
            font-size: 1.2rem;
            color: var(--text);
    
        }
        &__infos  {
            display : flex;
            align-items: baseline;
            padding : 0.25rem 0.75rem;
            column-gap : 10px;
    
    
            &__type  {
                flex: 1 1 10%;
                text-transform: uppercase;
                font-size: 0.7rem;
                font-weight: 700;
    
            }
            &__release-year  {
                flex :1 1 10%;
                font-size: 0.7rem;
            }
            &__genres  {
                flex: 5 1 65%;
                display : flex;
                flex-wrap: wrap;
                align-content: center;
    
                .genre  {
                    font-size: 0.8rem;
                    background-color: var(--primary_dark);
                    color: var(--text);
                    font-weight: 700;
                    padding: 0.2rem 0.6rem;
                    border-radius: 22px;
                    margin: 5px 5px;
                }
            }
            &__rating  {
                flex: 1 0 22%;
                display: flex;
                align-items: center;
                align-content: center;
                flex-wrap: wrap;
    
                &--users  {
                    padding: 5px 0;
                    padding-right: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-shrink: 0;
                    row-gap: 0.5rem;
                    
                    font-size: 0.9rem;
                    
                    span  {
                        color: var(--text_light);
                    }
                    
                }
                
                &--myrate  {
                    padding: 5px 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-shrink: 0;
                    cursor: pointer;
    
                    
                    button  {
                        font-size: 0.7rem;
                    }
                }
    
            }
        }
    
        &__synopsis  {
            font-size: 0.8rem;
            padding: 0.5rem 0.75rem ;
            width: 95%;
            
            span  {
                display: inline;
                font-style: italic;
                font-size: 0.6rem;
                padding: 0 0.2rem;
                cursor: pointer;
    
                span  {
                    text-decoration: underline;
                }
            }
        }
        &__synopsis--container  {
            display: inline-block;
            font-family: 'Lato', sans-serif;
            color: rgb(192, 187, 183);
            text-align: justify;
            overflow: hidden;
        }
        &__casting {
            display: flex;
            flex-direction: column;
            padding: 0.5rem;
            margin-bottom: 20px;
    
            .directors  {
                font-size: 0.8rem;
                color: var(--text);
                .director  {
                    padding: 0 0.2rem;
                }
            }
            .actors  {
                font-size: 0.8rem;
                color: var(--text);
                .actor  {
                    padding: 0 0.2rem;
                }
            }
        }
        &__similar--content  {
    
           .similar-content__wrapper {
    
            display: inline-flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 0.4em;
           
    
            img {
                aspect-ratio: 2/3;
                width: 22%;
                object-fit: cover;
                border-radius: 9px;

                @include respond-to ('medium') {
                width: 15%;
                }
                @include respond-to ('large') {
                width: 7%;
                }
            }
           }
        }
        &__call-to-action  {
            position: relative;
            width: 30%;
            min-width: 150px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0.5em auto;

    
            &__favorite  {
                cursor: pointer;
                position: relative;
                transition: all 5s ease-in;
                border: 1px dashed var(--secondary_light_soft);  
                border-radius: 50%;               
            }

            &__add-to  {
                border: 1px dashed var(--secondary_light_soft);  
                border-radius: 50%; 
            }
            
            &__share  {
                border: 1px dashed var(--secondary_light_soft);  
                border-radius: 50%; 

            }
        }
      }
}

.rating-blur {
    transition: ease-in-out 0.2s;

    
    &[data-blur="is-active"]{
      position: fixed;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      backdrop-filter: blur(1px);
    }

  }

  .rate-me{ 
    $sizeBtn : 35px;
    visibility: visible;

    position: fixed;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    aspect-ratio: 2/1;
    width: 100vw;
    max-width: 450px;
    border-radius: 0.7rem;
    left: 50%;
    transform: translate( -50%, 0);
    background-color: var(--bg_primary);
    border: 1px solid var(--border_list);
    padding: 0 1em 2em 1em;

    &__wrapper  {
        position: relative;

        &__close-icon  {
            position: absolute;
            top: -$sizeBtn - 5px;
            right: 0em;
            color: var(--primary_dark);
            background-color: transparent;
            height: $sizeBtn;
            width: $sizeBtn;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover  {
                background-color: rgba(103, 99, 99, 0.671);
            }
      
            svg {
              font-size: 1.3rem;
            }

        }
        &__my-rate  {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;

            div  {
                font-family: 'Cuby-Cuby', serif;
                font-size: 4rem;
                color: var(--star);
            }

            p > span {
                color: var(--primary);
            }

        }
        
    &__picking  {
        position: relative;

        input[type='range'] {
            padding: 0 5%;
            opacity: 0;
            width: 97%;
        }

        .star-container  {
            position: absolute;
            z-index: -1;
            display: flex;
            width: 100%;
            padding: 0 5%;
    
            .star  {
                flex: 1 0 9%;
                display: flex;
                align-items: center;
                flex-shrink: 0;
                width: 7%;
                color: var(--star);
                font-size: 175%;
    
            }
        }
    }

    }

    button{
        align-self: center;
        font-family: 'Lato', sans-serif;
        font-size: 0.8rem;
        text-transform: capitalize;
        border-radius: 3px;
        background-color: var(--secondary_hard_dark);
        color: var(--text);
        padding: 5px 15px;
        margin: 1em;
        max-width: 250px;
        letter-spacing: 1px;
        border: none;

        &:disabled  {
            background-color: var(--shadow )
        }
    }

}
    
       
  
