.logo {
    flex: 5;
    font-family: 'Lobster', cursive;
    font-size: 1.2rem;
    font-weight: 400;
    color: $title;
}

.tmdb_logo {
    width: 30%;

    img {
        object-fit: cover;
    }
    
}