.signup  {
    max-width: 900px;

    @include respond-to('large') {
        font-size: 130%;
    }
    a {
        text-decoration: none;
    }

    @include authpages ;


    .back-icon {
        @include backIcon;
    }

    .signup-form  {
        @include form;

        .inputWrapper {
            width: 100%;
        }
    

        .checkboxs  {
            color : var(--text);
            display: flex;
            flex-direction: column;
            row-gap: 0.5em;
            font-size: 0.8em;
            padding: 1em;
            
            .terms-and-privacy {
                display: flex;
                flex-direction: row-reverse;
                justify-content: start;
                align-items: center;
                column-gap: 10px;
                width: 100%;
               
                
            }
            
            .newsletter-subscription  {
                display: flex;
                justify-content: start;
                flex-direction: row-reverse;
                align-items: center;
                width: 100%;
                column-gap: 10px;
            }
        }
    }
    .link-to-signin {
        @include bottomLink;
    }
}