.banner-card  {
    display: flex;
    justify-content: center; 
    align-items: center;  
    
    @include respond-to ('medium-large') {
        font-size: 125%;
    }
    
    &__image-container  {
        max-width: 1600px;
        position: relative;
        aspect-ratio: 16/9;

        &__image {
            width: 100%;
            display: block;
            aspect-ratio: 16/9;
            height: auto;
            object-fit: cover;
            object-position: center;
            border-radius: 18px;
            padding: 0.35rem;
        }
        &__title {
            position: absolute;
            font-size: 0.7em;
            padding: 0.3rem;
            color: var(--text);
            top: 20px;
            left: 10px;
            mix-blend-mode: hard-light;
            background-color: var(--transparent_bg);
            border-radius: 12px;

        }
    }
}