.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2vh;
    padding: 2rem 15px;
    position: relative;
    min-height: 100vh;

    @include respond-to ('medium') {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        align-content: flex-start;
        row-gap: 1em;

    }

    .aera {
        display: flex;
        justify-content: space-around;
        align-items: center;
        column-gap: 7px;
        width: 95%;

        @include respond-to ('medium') {
            flex: 1 0 45%;
            width: 45%;
            max-width: 45%;
            height: fit-content;

        }
        
        .inputWrapper  {
            flex: 7 2 50%;
        }
        button[type="submit"]  {
            flex: 0 0 15px;
        }
        button[type="button"]  {
            flex: 0 0 15px;
        }

        input {
            font-weight: 600;       
        }

        button {
            background-color: transparent;
            border: none;
            color : var(--text);
            cursor: pointer;

            &:hover  {
                color: var(--secondary_darker);
            }
        }
    }
    .blur {
        transition: ease-in-out 0.2s;
  
        
        &[data-blur="is-active"]{
          position: fixed;
          z-index: 2;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100vh;
          backdrop-filter: blur(1px);
        }
  
      }
}
