.movie-card  {
    font-family: 'Merriweather', serif;
    background-color: rgba(0, 0, 0, 0.15);
    // box-shadow: 0 0 5px 1px rgba(190, 158, 116, 0.1);
    border-radius: 9px;
    min-width: 100px;
    height: auto; 
    overflow: hidden;
    list-style-type: none;
    position: relative;
    
    @include respond-to ('medium') {
        width: 10em;
    }
    @include respond-to ('medium-large') {
        width: 14em;
    }
    @include respond-to ('extra-large') {
        width: 17em;
    }



    &__header  {
        display: flex;
        justify-content: space-between;
        background-color: transparent;
        height: 0px;

        &__like-icon {
            border: 0;
            background-color: transparent;
            position: absolute;

        }
        &__rating  {
            position: absolute;
            z-index: 2;
            top: 0em;
            left: -4px;

            @include respond-to ('medium') {
               top: 5px;
               left: 0px;
            }
        }

    }

    &__image--container  {
        position: relative;
       

        &__type  {
            position: absolute;
            bottom: 2px;
            left: 5px;
            color: $white;
            mix-blend-mode: lighten;


            @include respond-to ('medium') {
                svg  {
                    font-size: 1.4em;
                }
            }

            @include respond-to ('medium-large') {
                svg  {
                    font-size: 1.6em;
                }
            }

            @include respond-to ('extra-large') {
                svg  {
                    font-size: 1.9em;
                }
            }
        }


        &__default--image  {
            height: auto;
            width: 100%;
            aspect-ratio: 2/3;
            display: grid;
            place-items: center;
        }

    }
    &__title  {
        color: $white;
        font-size: 0.5rem;
        font-weight: 700;
        padding: 0.25rem;
    }


    img {
        aspect-ratio: 2/3;
        height: auto;
        width: 100%;
        object-fit: fill;
        // box-shadow: 0px -40px 60px 0px rgba(255, 255, 255, 0.414);

    }

    &__infos  {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.3rem 0.3rem;
    }

    

}