.home-page  {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    opacity: 1;

    &__btn--signin  {
       @include baseButton;
       width: 50vw;
       background-color: var(--secondary_hard_dark);
       border: 1px solid var(--text_primary_hard);
       color: var(--text_primary_hard);
       box-shadow: 1px 3px 14px 2px rgba(255,255,255,0.1);
       transition: 0.2s ease-in;

       &:hover  {
        background-color: var(--bg_secondary);
        
       }

       &::before  {
        content : "Already a Member ?";
        font-size: 0.7rem;
        font-weight: 400;
        letter-spacing: 0;
        width: 100%;
        text-transform: none;
        position: absolute;
        color: var(--text);
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
    }
    }
    &__btn--signup  {
        @include baseButton;
        background-color: var(--bg_secondary);
        border: 2px solid var(--text_primary_hard);
        color: var(--text_primary_hard);
        box-shadow: 1px 3px 14px 3px rgba(255,255,255,0.2);
        width: 50vw;
        transition: 0.2s ease-in;

        &:hover {
            background-color: var(--secondary_hard_dark);
        }
    }
    &__link-to-home {
        color: var(--text_light);
        font-size: 0.8em;
        transition: 0.2s ease-in;
        text-align: center;

        &:hover {
            color: var(--secondary_hard_dark);
            transition: 0.4s ease-out;
        }
    }
    &__demo-credentials {
        color: var(--text_light);
        text-align: center;
        line-height: 1.6;
        font-size: 0.8em;
        margin-top: 5vh;
    }

}
