.profile-page  {
    background-color: $secondary;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logout  {
        color: $white;
        font-size: 1.2rem;
        background-color: grey;
        height: 36px;
        width: 80vw;
        display: flex;
        align-items: center;
        justify-content: center;
        
        
    }
}