
.inputWrapper {
    position: relative;
    // width: 100%;
    .input {
        @include input;
    }
    .inputError  {
        max-height: fit-content;
        color:var(--error);
        font-size : 0.7rem;
        padding: 5px 8px;
    }
    .visibility-icons  {
        border: none;
        background-color: transparent;  
        position: absolute;
        top: 0;
        right: 5px;
    
        span  {
            position: absolute;
            top: 0;
            right: 10px;
            height: 42px;
            display: flex;
            align-items: center;         
        }
    }
    .input__submit  {
        @include submitBtn;
    }
}

.social-auth  {
    @include socialLogMethod;
}

.message-to-users  {
    @include messageToUsers;
       
}


