.account  {
    background-color: var(--secondary);
    color : var(--text);
    min-height: 100vh;
    font-family: 'Merriweather', serif;
    position: relative;
    z-index: 5;

    .title  {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        letter-spacing: 1px ;

        .back-icon  {
            position: absolute;
            top: 0.5rem;
            left: 0.5rem;
            background-color: transparent;
            border: none;
        }
        
    }

    .banner  {
        height : fit-content;
        min-height: 10vh;
        border-bottom : 2px solid rgba(234, 104, 11, 0.087);
        display : flex; 
        justify-content : flex-start;
        align-items: flex-start;
        padding : 1vh 15px;

        .avatar-wrapper  {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex : 1 1 20%;
            padding: 0.5vh;

            .avatar {
                flex: 0 0 ;
                border-radius : 50%;
                border : 3px solid rgba(227, 112, 30, 0.581);
                height : 75px;
                width : 75px; 
                overflow: hidden;

                img {
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                }
              }

            span {
                font-size : 0.5rem;
                text-decoration : underline;
                line-height: 1.6;
                cursor: pointer;
                text-align: center;
                
            }
          }
    }
    .welcome  {
        flex : 4 1 80%;
        padding-top: 15px;
        padding-left : 45px;
        font-size: 1.4rem;
        text-transform: capitalize;
        
    }

    .logout {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 0.5rem;
        position: fixed;
        width: 100%;
        bottom: 0;
        font-size: 0.7rem;
        text-transform: uppercase;
        padding: 1rem 0 ;
        letter-spacing: 2px;
        font-family: 'Lato' , sans-serif;
        font-weight: 700;
        border-top: 1px solid rgba(234, 104, 11, 0.145);
    }
}






