.change-password { 
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    aspect-ratio: 2/1;
    width: 95vw;
    max-width: 450px;
    border-radius: 0.7rem;
    top: 10%;
    left: 50%;
    transform: translate( -50%, 0);
    background-color: var(--bg_primary );
    border: 1px solid var(--border_list);
    transition: ease 0.15s;
    filter: drop-shadow(7px 10px 25px var(--shadow));

  
    &__header  {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2% 4% 4% 4%; 
      border-bottom: 1px solid var(--border_list);
  
      h2  {
        font-size: 0.8rem;
        color: var(--text_light);
      }
      .close-icon  {
        color: var(--primary_dark);
        display: flex;
        align-items: center;
        justify-content: center;
  
        svg {
          font-size: 1.3rem;
        }
      }
    }
    
        input  {
          @include input;
          width: 80%;
        }
  
    form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 15px 5% 5% 5%; 


     .inputWrapper{
        width: 100%;
      }
    }
  
  }