.app__container  {
    background-color: var(--bg_primary);
    min-height: 100dvh;  
}

.app  {
    padding: 0 1vw 15px 0;

    .main  {
        padding-top: $heightheader;
 
    }
    
}
h1 {
    font-family: 'Merriweather', serif;
    font-size: 3rem;

}

