.app__container  {
    background-color: var(--bg_primary);
    min-height: 100dvh;  
}

.app  {
    padding: 0 1vw 15px 0;

    .main  {
        padding-top: $heightheader;
 
    }
    
}
h1 {
    font-family: 'Merriweather', serif;
    font-size: 3rem;

}



// .genre-list  {
//     display: flex;
//     flex-direction: column;
//     width: 100vw;
//     overflow: hidden;
//     padding: 0 0 15px 0;
    
//     h2 {
//         font-family: 'Merriweather', serif;
//         letter-spacing: 1px;
//         color: $white;
//         font-size: 1.8rem;
//         font-weight: 700;
//         padding: 0.5rem;
//     }

//     .outer-cards-container {
//         cursor:grab;
//         overflow: hidden;
//         display: flex;

//     .cards-container  {
//         display: flex;
//         flex-wrap: nowrap;
//         column-gap: 15px;
//         padding: 1rem 1.5rem;
//         }
//     }
// }


