.log  {
    font-family: 'Lato', sans-serif; 
    min-height: 100vh;
    background-color: var(--bg_primary);
    position: relative;
    @include center;

    &__logo  {
        position: fixed;
        top: 7.5%;

        h1 {
            font-family: 'Evermore' , Arial , Roboto, sans-serif;
            font-size: 5vw;
            font-display: fallback ;
            color: var(--secondary_hard_dark);

            @include respond-to('medium-large')  {
                font-size: 3vw;
            }

            span {
                color: var(--bg_secondary);
            }
        } 
    }

}
