
.nav__links  {
    position: fixed;
    background-color: var(--nav_bg);
    top: 70px;
    right: -15vw;
    height: 50vh;
    width: 17.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    padding-top: 25px;
    transition: right 0.25s ease-in;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 48px;

    &.is-active  {
        right: -0.5rem;
        transition: right 0.3s ease-in;
    }
}

// .blur {
//     position: fixed;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     background-color: rgba(255, 255, 255, 0.227);
// }

.app__container  {
    .header  {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: fixed;
        z-index: 5;
        height: $heightTopNav;
        background: var(--secondary_gradient);


        .nav {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0.5rem;
        }
        .search__container  {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 3.5rem;

        }
        .back-icon  {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0.8rem;
        }
    }
  
}