body[data-theme="light"] {
    --primary : #c25e00;
    --secondary : rgb(238, 228, 222);
    --text : rgba(0,0,0,1);
    --menu_link : rgba(253, 184, 55, 0.2);
    --menu_link_transparent : rgba(253, 184, 55, 0.1);
    --input_bg : rgba(255,255,255,1);
    --input_lock_color : rgba(0, 0, 0, 0.5);
    --error : rgba(196, 15, 15, 0.871);
    --primary_dark : #c25e00;
    --input_placeholder : rgba(218, 113, 21, 0.641);
    --transparent_bg : rgba(255,255,255,0.2);
    --primary_light : #ffbd45;
    --nav_bg : rgba(233, 207, 191, 0.733);
    --secondary_gradient : linear-gradient(180deg, rgb(238, 228, 222, 1) 0%,  rgb(238, 228, 222, 0.4) 30%, rgb(238, 228, 222, 0.15)  100%);
    --nav_icon : black;
    --text_light : rgb(80, 78, 77);
    --border_list : rgba(54, 54, 54, 0.2);
    --button_loading : #414141db;
    --star : rgb(52, 126, 210);



}

body[data-theme="dark"] {
    --primary : #fb8c00;
    --primary_light : #ffbd45;
    --primary_dark : #c25e00;
    --button_loading : #414141db;
    --secondary : #0b0b0b;
    --secondary_gradient : linear-gradient(180deg, #0b0b0bd9 0%,  #0b0b0b20 10%, #0b0b0b17  100%);
    --secondary_light : #484848;
    --secondary_dark : #000000;
    --error : rgba(196, 15, 15, 0.835);
    --red_icon : rgb(219, 30, 30);
    --yellow_star: rgb(234, 223, 14);
    --nav_bg : rgba(21, 20, 20, 0.903);
    --nav_icon : rgba(208, 116, 19, 0.889);
    --title : rgba(143, 88, 2, 1);
    --blackbg : #121212;
    --main-primary : rgba(231, 154, 33, 1);
    --main-primary_light : rgba(231, 154, 33, 0.4);
    --white : rgba(235, 230, 225, 0.944);
    --text : rgba(255,255,255,1);
    --menu_link : rgba(18, 17, 17, 0.8);
    --menu_link_transparent : rgba(18, 17, 17, 0.2);
    --input_bg : rgba(0,0,0,1);
    --input_lock_color : rgba(255, 255, 255, 0.5);
    --input_placeholder : rgba(218, 113, 21, 0.641);
    --transparent_bg : rgba(0,0,0,0.2);
    --text_light : rgb(192, 187, 183);
    --border_list : rgba(255, 255, 255, 0.2);
    --star : rgb(52, 126, 210);

}